*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/gradle/wrapper/
/fragmenttestrule/build/
/sample/build/
/fragmenttestrule/src/main/gen/
/sample/src/main/gen/
/sample/src/debug/gen/
